:root {
  --summer-pastel-01-01: #f8a68d;
  --summer-pastel-01-02: #f6a1a6;
  --summer-pastel-01-03: #f284b2;
  --summer-pastel-01-04: #cc69a7;
  --summer-pastel-01-05: #ec7079;
  --summer-pastel-02-01: #8869a6;
  --summer-pastel-02-02: #b88bbe;
  --summer-pastel-02-03: #b2bee1;
  --summer-pastel-02-04: #91c4e8;
  --summer-pastel-02-05: #8095cc;
  --summer-pastel-03-01: #d1a5cc;
  --summer-pastel-03-02: #f6dd6e;
  --summer-pastel-03-03: #e9bebc;
  --summer-pastel-03-04: #75cbe8;
  --summer-pastel-03-05: #a9dde4;
  --summer-pastel-04-01: #80bfb0;
  --summer-pastel-04-02: #b3ddd2;
  --summer-pastel-04-03: #d2dde4;
  --summer-pastel-04-04: #f5bd93;
  --summer-pastel-04-05: #ef9d6a;
  --summer-pastel-05-01: #fff7ee;
  --summer-pastel-05-02: #ffe6c2;
  --summer-pastel-05-03: #ead4e2;
  --summer-pastel-05-04: #ecb4d0;
  --summer-pastel-05-05: #c7a9d1;
  --summer-pastel-06-01: #ef4a5f;
  --summer-pastel-06-02: #f9b296;
  --summer-pastel-06-03: #fbccc0;
  --summer-pastel-06-04: #aed5d7;
  --summer-pastel-06-05: #face88;
  --summer-pastel-07-01: #f5cfc7;
  --summer-pastel-07-02: #e89897;
  --summer-pastel-07-03: #f9b184;
  --summer-pastel-07-04: #fecc8b;
  --summer-pastel-07-05: #c5bf9b;
  --summer-pastel-08-01: #889f45;
  --summer-pastel-08-02: #bcd6a6;
  --summer-pastel-08-03: #f8ceb9;
  --summer-pastel-08-04: #fcbb3c;
  --summer-pastel-08-05: #e57b87;
  --summer-pastel-09-01: #fac4c8;
  --summer-pastel-09-02: #ef5585;
  --summer-pastel-09-03: #fdd053;
  --summer-pastel-09-04: #f9b15f;
  --summer-pastel-09-05: #68c8e8;
  --summer-pastel-10-01: #f492ac;
  --summer-pastel-10-02: #9ac867;
  --summer-pastel-10-03: #f9c7d5;
  --summer-pastel-10-04: #fcd849;
  --summer-pastel-10-05: #bb9ecb;
  --summer-pastel-11-01: #f2bcd4;
  --summer-pastel-11-02: #ffdf92;
  --summer-pastel-11-03: #c1e3f8;
  --summer-pastel-11-04: #d7b4dc;
  --summer-pastel-11-05: #c4c4e1;
  --summer-pastel-12-01: #7fcdc9;
  --summer-pastel-12-02: #c3e5de;
  --summer-pastel-12-03: #c6e5f1;
  --summer-pastel-12-04: #7bccec;
  --summer-pastel-12-05: #708aa3;
  --summer-pastel-13-01: #708aa3;
  --summer-pastel-13-02: #fbc88d;
  --summer-pastel-13-03: #fae3ae;
  --summer-pastel-13-04: #a9dddf;
  --summer-pastel-13-05: #85cbcd;
  --summer-pastel-14-01: #e35d44;
  --summer-pastel-14-02: #f48259;
  --summer-pastel-14-03: #f8c071;
  --summer-pastel-14-04: #8bd1c8;
  --summer-pastel-14-05: #adca63;
  --summer-pastel-15-01: #d2a8b3;
  --summer-pastel-15-02: #d2a8b3;
  --summer-pastel-15-03: #dae6e4;
  --summer-pastel-15-04: #eecf64;
  --summer-pastel-15-05: #db9f27;
  --palette-today: #68c8e8;
  --palette-energy: var(--summer-pastel-01-02);
  --palette-drain: var(--summer-pastel-04-03);
  --palette-library: #8373d8;
  --palette-data: var(--summer-pastel-08-02);
}
